+++
title = "Léonard Rizzo"
linkTitle = "Léonard Rizzo"

+++

{{< blocks/cover title="" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">
	<div class="row">
		<div class="col align-self-center">
			<p class="text-center showcase">
				<img alt="Metamaus logo" height="350" src="LogoV1-RoundBG.png" />
			</p>
		</div>
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="light" %}}
Je suis étudiant en maîtrise informatique-jeux vidéos à l'UQAC (Chicoutimi, Québec, Canada). Voici un aperçu des projets de jeux vidéos les plus marquants auxquels j'ai pu participer, ainsi que quelques autres projets plus ou moins liés à ce domaine.
{{% /blocks/lead %}}


{{< blocks/section color="primary">}}

{{% blocks/feature icon="far fa-envelope" title="N'hésitez pas à me contacter par mail" %}}
leonard.rizzo@gmx.fr
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="LinkedIn" url="https://github.com/google/docsy-example" %}}
N'hésitez pas à me contacter ici aussi.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Mes projets de jeux." url="https://metamaus.itch.io" %}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Mon profil github" url="https://github.com/Metamaus" %}}
Seuls les codes des jeux où les assets utilisés sont publiques sont accessibles.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Mon profil gitlab" url="https://gitlab.com/Metamaus" %}}
Pour retrouver le code source de ce site.
{{% /blocks/feature %}}

{{% blocks/feature icon="far fa-file-code" title="Site réalisé avec hugo et docsy" url="http://docsy.dev" %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}