/*

Add styles or override variables from the theme here.

*/

// Theme colors
$primary: #101010;
$secondary: #eb9fd2;
$dark: #202020;
$info: #91badb;
$light: #dee2e6;
$blue: #314370;
$red: #9e1c1c;
$orange: #f4d8a2;
$yellow: #e3dd97;
$green: #ce8f1a;
$warning: #ffc107;

// Font
$google_font_name: "Ubuntu";
$google_font_family: "Ubuntu:300,300i,400,400i,700,700i";

a {
  color: #dee2e6 !important;
  background-color: transparent;
  text-decoration: none;
  &:hover {
    color: #f2f2f2 !important;
    text-decoration: none;
  }
}