<h1>{{.Get "title"}}</h1>
<h2>{{.Get "subtitle"}}</h2>

<div>
    Engine: {{.Get "engine"}}<br>
    Date: {{.Get "date"}}<br>
    Project type: {{.Get "type"}}<br>
    Team size: {{.Get "size"}}
</div>
<div>
    {{.Get "description"}}
</div>
<div>
    {{.Get "role"}}
</div>